<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>19/01/13 11:46:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Contactregression.checkapplaunch()[pri:0, instance:src.test.java.Contactregression@3884b2]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@13893707</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/01/13 11:47:04</td>   <td>40498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Contactregression.checkclosedriver()[pri:0, instance:src.test.java.Contactregression@3884b2]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@13893707</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/01/13 11:46:47</td>   <td>23930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Contactregression.saveCompanyInformation()[pri:3, instance:src.test.java.Contactregression@3884b2]">saveCompanyInformation</td> 
  <td>main@13893707</td>   <td></td> </tr>
</table>
