<h2>Methods that were not run</h2><table>
<tr><td>src.test.java.Contactregression.checkfirstNamealertmessage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Check first name alert</i></td></tr>
<tr><td>src.test.java.Contactregression.checkCreateContactPageLoad<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Check Page load Create New Contact</i></td></tr>
</table>