<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>18/12/22 18:06:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegression.checkCursorinUsername()[pri:1, instance:src.test.java.LoginRegression@3884b2]">checkCursorinUsername</td> 
  <td>main@32126786</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/12/22 18:06:34</td>   <td>-14868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegression.checkapplaunch()[pri:0, instance:src.test.java.LoginRegression@3884b2]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@32126786</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/12/22 18:06:53</td>   <td>4735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegression.checkapplaunch()[pri:0, instance:src.test.java.LoginRegression@3884b2]">&gt;&gt;checkapplaunch</td> 
<td>&nbsp;</td>  <td>main@32126786</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/12/22 18:06:51</td>   <td>2345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegression.checkclosedriver()[pri:0, instance:src.test.java.LoginRegression@3884b2]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@32126786</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/12/22 18:07:20</td>   <td>31260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegression.checkclosedriver()[pri:0, instance:src.test.java.LoginRegression@3884b2]">&lt;&lt;checkclosedriver</td> 
<td>&nbsp;</td>  <td>main@32126786</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>18/12/22 18:07:04</td>   <td>15902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegression.checkvalidLogin()[pri:2, instance:src.test.java.LoginRegression@3884b2]">checkvalidLogin</td> 
  <td>main@32126786</td>   <td></td> </tr>
</table>
